// ====================== Default Veriables =======================
$primary-color:#fb2068;
$secondary-color:#184eef;
$heading-color:#29292c;
$gray-color: #e6e6e6;
$gray-color-2: #fcf5f7;
$white-color:#ffffff;
$black-color:#000;
$background-transparent:transparent;
$paragraph-color:#777777;
$border-color:#f0f0f0;
$primary-font: 'Rubik', sans-serif;
$secondary-font: 'Rubik', sans-serif;
$line-height:1.2;
$border-radius: 4px;
$border-radius-lg: 8px;
$box-shadow:0 3px 18px 0px rgba(0, 0, 0, 0.10);
$btn-shadow:rgba(0, 0, 30,.15) 0px 15px 25px 0px;
